<div class="form-row" style="margin-left:5px;justify-content: center">
	<button type="button" class="btn btn-outline-dark m-1 p-1" data-toggle="modal" data-target="#UserModal" data-type="edit" data-username="{{ u.username }}" data-fullname="{{ u.fullname }}" data-id="{{ u.id }}" data-group="{{ u.group }}" data-status="{{ u.status }}" data-tz="{{ u.tz }}" data-lang="{{ u.lang }}" title="{{ content.labels.edit }}" style="font-size:10px;"><i class="fa fa-pen" aria-hidden="true"></i></button>
	<button type="button" class="btn btn-outline-dark m-1 p-1" data-toggle="modal" data-target="#UserChangePassModal" data-id="{{ u.id }}" title="{{ content.labels.change_password }}" style="font-size:10px;"><i class="fa fa-key" aria-hidden="true"></i></button>
	{% if content.path=='users' %}
	<button type="button" class="btn btn-outline-dark m-1 p-1" data-toggle="modal" data-target="#UserRemove" data-id={{ u.id }} title="{{ content.labels.remove }}" style="color:red;font-size:10px;padding:0px 2px;"><i class="fa fa-minus-circle"></i></button>
	{% endif %}
</div>
