<div class="row justify-content-center align-items-center m-1 p-1" style="margin: initial;">
    {% include '/examples/graph-1.html' %} 
    {% include '/examples/graph-2.html' %}
    {% include '/examples/graph-3.html' %}
    {% include '/examples/graph-4.html' %}
    {% include '/examples/graph-5.html' %}
    {% include '/examples/graph-6.html' %}
    {% include '/examples/graph-7.html' %}
    {% include '/examples/graph-8.html' %}
    {% include '/examples/graph-9.html' %}
    {% include '/examples/graph-10.html' %}
    {% include '/examples/graph-11.html' %}
    {% include '/examples/table-1.html' %}
    {% include '/examples/img.html' %}
    {% include '/examples/badges.html' %}
    {% include '/examples/buttons.html' %}
    {% include '/examples/dropdowns.html' %}
    {% include '/examples/form-1.html' %}

</div>
   