<nav class="navbar navbar-dark bg-dark m-0 p-0 shadow sticky-bottom fixed-bottom" >
    <div class="justify-content-start">
    </div>
    <small class="text-muted" title="bazarnov.da@gmail.com, @BazDen">{{ content.labels.copyright }}</small>
    <div class="justify-content-end">
        <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="{{ content.labels.menu }}" title="{{ content.labels.menu }}"><i class="fa fa-bars" aria-hidden="true"  style="color:white;"></i></button>
    </div>
</nav>
    