
<div class="col-md-auto m-0 p-0 collapse" id="layoutToggle">
<ul class="nav bg-dark">
  <li class="nav-item mx-auto">
	<a class="nav-link text-light" href="/admin/{{content.path}}/0/"><img src="/static/img/layout0.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/admin/{{content.path}}/1/"><img src="/static/img/layout1.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/admin/{{content.path}}/2/"><img src="/static/img/layout2.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/admin/{{content.path}}/3/"><img src="/static/img/layout3.png" width=20px></a>
  </li>
</ul>
</div>
