{% if content.layout==1 %}
    <div class="card shadow m-1" style="width:49%;">
{% elif content.layout==2 %}
    <div class="card shadow m-1" style="width:29%">
{% elif content.layout==3 %}
    <div class="card shadow m-1" style="width:24%">
{% else %}
    <div class="card shadow m-1" style="width:99%">	
{% endif %}
    <div class="card-header bg-dark m-0 p-0" style="color:white;"><center>
		<i class="fa fa-check-square" aria-hidden="true"></i> &nbsp; 
		<i class="fa fa-window-close" aria-hidden="true" style="color:red;"></i> &nbsp;
	Table
</div>
<div class="card-body m-2 p-0">
	<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
</div>    