<nav class="navbar navbar-dark bg-dark m-0 p-0 shadow sticky-top" >
<div class="justify-content-start">
<button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="{{ content.labels.menu }}" title="{{ content.labels.menu }}"><i class="fa fa-bars" aria-hidden="true"  style="color:white;"></i></button>
</div>
<a class="d-none d-sm-block mx-auto text-white" href="/admin/index">
{% if content.srvname=='AMP' %}
	<img src="/static/img/logo.png">
{% else %}	
	{{ content.srvname }}
{% endif %}
</a>
<div class="justify-content-end">

{% if content.user.status|int==1 %}
<a class="button btn-sm" href="/admin/users"><i class="fa fa-user" aria-hidden="true" style="color:white;font-size: larger;" title="{{ content.labels.users }}"></i></a>&nbsp;
{% endif %}
<a class="button btn-sm" href="/admin/settings"><i class="fa fa-cog" aria-hidden="true" style="color:white;font-size: larger;" title="{{ content.labels.settings }}"></i></a>&nbsp;

{% if content.show_layout==True %}
	<button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#layoutToggle" aria-controls="layoutToggle" aria-expanded="false" aria-label="Расположение"><i class="fa fa-th" aria-hidden="true" style="color:white;"></i></button>&nbsp;
{% endif %}
<a href="/" class="badge badge-dark"><i class="fa fa-times" aria-hidden="true" style="font-size:160%;" title="{{ content.labels.logout }}"></i></a>&nbsp;
</div>
</nav>
{% include '/menu/menu.html' %}
{% if content.show_layout==True %}	
	{% include '/menu/layout.html' %}
{% endif %}	