<html>
{% include 'head.html' %}
<body>
	<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
		<div class="container d-flex justify-content-center ">

			<div class="card shadow">
				<div class="card-header bg-dark p-0 m-0">
					<center><img src="/static/img/logo.png"></center>
				</div>
				<div class="card-body">
					<form method="POST" action="/auth/login">
						<div class='row'>
						
						<div class='col-1' style="align-self: end;"><label for="username"><i class="fa fa-user" aria-hidden="true" style="font-size: larger;"></i></label></div>
						<div class='col'><input class="form-control m-1" id="username" name="username" type="text"></div>
						</div>
						<div class='row'>
						<div class='col-1' style="align-self: end;"><label for="password"><i class="fa fa-key" aria-hidden="true" style="font-size: larger;"></i></label></div>
						<div class='col'><input class="form-control m-1" id="password" name="password" type="password"></div>
						</div>
						<br>
						<center>
							<button type="submit" class="btn btn-primary">
								&nbsp;<i class="fa fa-sign-in-alt" aria-hidden="true" style="font-size: larger;"></i>&nbsp;
							</button>
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>