
<div class="col-md-auto m-0 p-0 collapse" id="layoutToggle">
<ul class="nav bg-dark">
  <li class="nav-item mx-auto">
	<a class="nav-link text-light" href="/setlayout/0/{{content.path}}"><img src="/static/img/layout0.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/setlayout/1/{{content.path}}"><img src="/static/img/layout1.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/setlayout/2/{{content.path}}"><img src="/static/img/layout2.png" width=20px></a>
  </li>
  <li class="nav-item mx-auto">
    <a class="nav-link text-light" href="/setlayout/3/{{content.path}}"><img src="/static/img/layout3.png" width=20px></a>
  </li>
</ul>
</div>
